#a1{
font-size: 39px;	
text-align: center;
}
#a2{
font-size: 39px;	
text-align: center;
}
#a3{
font-size: 39px;	
text-align: center;
}
#a4{
font-size: 39px;	
text-align: center;
}
#a5{
font-size: 50px;	
text-align: left;
}